#box{
    border: 4px black solid;
    margin: 100px auto;
    width: 600px;
    padding: 20px;
}

#upperBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#upperBox>button {
    border: 3px black solid;
    background-color: yellowgreen;
    font-size: 1.2em;
    padding: 5px 30px;
    height: 50px;
    cursor: pointer;
}