*{
    margin: 0;
    padding: 0;
}


.row{
    width: 100vw;
    display: flex;
}

.col{
    background-color: aquamarine;
    flex:1;
    padding: 20px;
    margin: 10px;
}

.col-2{
    background-color: aquamarine;
    flex:2;
    padding: 20px;
    margin: 10px;
}

.col-3{
    background-color: aquamarine;
    flex:3;
    padding: 20px;
    margin: 10px;
}