*{
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,300;1,400&display=swap');

#container{
    border: 5px solid gray;
    width: 600px;
    height: 300px;
    margin:100px auto;
}

#profile{
    width: 80px;
    display: inline-block;
    position: relative;
    top: 30px;
    left: 20px;
}

#nav{
    width: inherit;
    height: 25%;
    background-color: rgb(23, 162, 184);
}

#profileName{
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-family: 'Raleway', sans-serif;
}

#map-marker{
    width: 13px;
    padding-left: 20px;
    margin-right: 10px;
    display: inline-block;
}

#stay{
    display: inline-block;
    font-family: 'Raleway', sans-serif;
}

#description{
    padding: 10px 20px;
    font-family: 'Raleway', sans-serif;
}

#gear{
    width: 18px;
    padding-left: 20px;
    margin-right: 5px;
    padding-top: 5px;
    display: inline-block;
}

#foot{
    vertical-align: top;
    font-family: 'Raleway', sans-serif;
}
