h1{
    color:brown;
    background-color:aquamarine;
    font-size: 80px;
    text-align: right;
}

.blue{
    background-color: brown;
}

.center-text{
    text-align: center;
}

#head{
    text-align: center;
}