div{
    margin: 5%;
}

.bottom1{
    background-color: gainsboro ;
    border: 3px solid;
    border-color: cadetblue;
    color: cadetblue;
    font-size: medium;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    border-radius: 200px;
    padding: 5px 50px;
    margin-bottom: 30px;
    display: block;
}

.buttom2{
    font-size: 30px;
    background-color:darkcyan;
    color: white;
    text-align: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 0px;
    margin-bottom:30px;
    display: block;
    cursor: pointer;
}

.buttom3{
    font-size: 20px;
    background-color:rgb(7, 56, 189);
    color: white;
    text-align: center;
    border: 0px;
    margin-bottom:30px;
    display: block;
    padding: 7px 35px;
    cursor: pointer;
    border: 4px solid black;
    box-shadow: 4px 4px black;
}


